.image-sm {
  width: 160px;
  height: 160px;
  margin: 10px;
}

.card.flat {
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.owner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flat_owner {
  background-color: rgba(255, 255, 255,0.8);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.owner_booking {
  background-color: rgba(200, 200, 200,0.8);
  box-shadow: 0 0 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  h2 {
    margin-top: 5px;
  }

}
.check {
  margin: 5px;
}
